.resultsContainer {
  background-color: var(--slate900);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  padding: 1.5rem;
  @media (min-width: 48em) and (max-width: 63.938em) {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    justify-content: center;
  }
}

.resultsTitle {
  color: var(--white);
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-size: clamp(1.5rem, 0.795774647887324rem + 3.004694835680751vw, 3.5rem);
  padding-bottom: 1rem;
}

.resultsMessage {
  color: var(--slate300);
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  font-weight: 400;
}

.resultsAmountContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  font-family: "Plus Jakarta Sans";
  background-color: hsl(202, 55%, 10%);
  border-top: 0.25rem solid var(--lime);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.625rem;
}

.monthlyMessage {
  color: var(--slate300);
}

.monthlyAmount {
  color: var(--lime);
  font-size: 2.5rem;
  font-weight: 700;
}

.totalAmountMessage {
  color: var(--slate300);
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 0.625rem;
}

.totalAmount {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 0.625rem;
}
