@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/plus-jakarta-sans-v8-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/plus-jakarta-sans-v8-latin-500.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/plus-jakarta-sans-v8-latin-700.woff2")
    format("woff2");
}

.mainWrapper {
  width: min(100% - 2rem, 63rem);
  margin-inline: auto;
  padding-top: 1.5rem;
}

.formItemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  color: var(--slate900);
  font-family: "Plus Jakarta Sans";
  font-size: clamp(1.5rem, 0.795774647887324rem + 3.004694835680751vw, 3.5rem);
  font-weight: 700;
}

.linkButton {
  background-color: var(--white);
  border: none;
  color: var(--slate700);
  cursor: pointer;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.fieldsChildContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.label {
  color: var(--slate700);
  display: block;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 0.75rem;
}

.numberInputContainer {
  display: flex;
  border: 0.063rem solid var(--slate700);
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
}

.principalAmountContainer {
  background-color: var(--slate100);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 2.75rem;
  text-align: center;
}

.yearsContainer {
  background-color: var(--slate100);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 5rem;
  text-align: center;
}

.percentContainer {
  background-color: var(--slate100);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3.188rem;
  text-align: center;
}

.prefix {
  color: var(--slate700);
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  font-weight: 700;
}

.numberInput {
  border: none;
  color: var(--slate900);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  cursor: pointer;
  font-family: "Plus Jakarta Sans";
  font-size: 1.125rem;
  font-weight: 700;
  outline: none;
  width: 100%;
  padding-left: 1.125rem;
}

.yearsInput {
  border: none;
  color: var(--slate900);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  cursor: pointer;
  font-family: "Plus Jakarta Sans";
  font-size: 1.125rem;
  font-weight: 700;
  outline: none;
  width: 100%;
  padding-left: 1.125rem;
}

.percentInput {
  border: none;
  color: var(--slate900);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  cursor: pointer;
  font-family: "Plus Jakarta Sans";
  font-size: 1.125rem;
  font-weight: 700;
  outline: none;
  width: 100%;
  padding-left: 1.125rem;
}

.fieldSet {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.legend {
  color: var(--slate700);
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 0.75rem;
}

.radioContainer {
  color: var(--slate900);
  cursor: pointer;
  border: 0.063rem solid var(--slate700);
  border-radius: 0.25rem;
  height: 3rem;
  max-width: 100%;
  padding: 1rem;
}

.radioButtonLabel {
  cursor: pointer;
  font-family: "Plus Jakarta Sans";
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1em;
}

.btnContainer {
  padding-bottom: 1.5rem;
}

.btn {
  border: none;
  border-radius: 6.25rem;
  background-color: var(--lime);
  color: var(--slate900);
  cursor: pointer;
  font-family: "Plus Jakarta Sans";
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  height: 3.5rem;
  width: 18.75rem;
}
