*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --lime: hsl(61, 70%, 52%);
  --slate900: hsl(202, 55%, 16%);
  --slate700: hsl(200, 24%, 40%);
  --slate500: hsl(200, 26%, 54%);
  --slate300: hsl(203, 41%, 72%);
  --slate100: hsl(202, 86%, 94%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(4, 69%, 50%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
  font-optical-sizing: auto;
  font-style: normal;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

header,
footer,
main,
section,
article {
  container-type: inline-size;
}

#root,
#__next {
  isolation: isolate;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: var(--slate700);
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.094rem solid var(--slate700);
  border-radius: 50%;
  transform: translate(-0.075rem);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--lime);
}

input[type="radio"]:checked::before {
  transform: scale(0.6);
}
